<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>布局练习</title>
    <link rel="stylesheet" type="text/css" href="layout.css" />
</head>
<body>
    <div class="leftFixedLayout">
        <div class="leftFixed">leftFixed</div>
        <div class="rightAuto">rightAuto</div>
    </div>
    <div class="textRoundLayout">
        <div class="img">img</div>
        <div class="textRound">
            textRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoun
            dtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtext
            RoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRoundtextRound
        </div>
    </div>
   <!--  <div class="rightMenuAbsoluteLayout">
        <div class="rightMenuContent">
            &nbsp;
            <div class="rightMenu">
                //
            </div>
        </div>
    </div> -->
    <div class="streamLayout">
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
        <div class="stream">流式布局</div>
    </div>
</body>
</html>