@charset "UTF8";
html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #0c60aa;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #0c60aa;
}
.contentLeft{
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 100px;
    background-color: #0c60aa;
}
.contentRight{
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 100px;
    right: 0;
}
.contentRight span{
    position: absolute;
    display: inline;
}
.imgAfter{
    margin-left: -80px;
}
.img{
    display: inline-block;
    width: 400px;
    height: 100px;
    background-color: #e9e9e9;
}