@charset "utf8";
.ui-date-swagger{
    position: absolute;
    display: none;
    margin: 0px;
    border-radius: 4px;
    padding: 0px;
    width: 300px;
    /* height: 330px; */
    box-shadow: 2px 2px 8px 6px #cccccc;
    text-align: center;
}
.ui-date-swagger-active{
    display: block;
}

.ui-date-swagger .ui-date-swagger-header{
    box-sizing: border-box;
    padding: 10px 5px 10px 5px;
    height: 60px;
    color: #ffffff;
    font-size: 24px;
    background-color: #838181;
}
.ui-date-swagger .ui-date-swagger-header .ui-date-swagger-btn{
    display: inline-block;
    width: 40px;
    cursor: pointer;
}

.ui-date-swagger .ui-date-swagger-body{
    /* height: 240px; */
    padding: 10px 10px 20px 10px;
}
.ui-date-swagger .ui-date-swagger-body table{
    border-collapse:collapse;
}
.ui-date-swagger .ui-date-swagger-body table thead tr th, .ui-date-swagger .ui-date-swagger-body table tbody tr td{
    border: 1px solid #cccccc;
}
.ui-date-swagger .ui-date-swagger-body table thead tr{
    height: 40px;
}
.ui-date-swagger .ui-date-swagger-body table tbody tr{
    height: 40px;
    width: 280px;
}
.ui-date-swagger .ui-date-swagger-body table tbody tr td{
    width: 40px;
    cursor: pointer;
}